div{

    background-color: bisque;
    background-image:url(flower.jpg.jpg);
    padding: 20px;
    margin-bottom: 15px;
}
.ultra{ background-color: skyblue;}
#pluto{background-color: yellow;}
.frog{background-color: red;}